<!-- <div class="popular-tags">
  <div class="popular-tags__header">
    <a-typography-title :level="4">Popular Tags</a-typography-title>
  </div>
  <div class="popular-tags__content">
    <a-button 
      v-for="popularTag, i in popularTags"
      class="popular-tags__tag"
      :danger="(groupArticles ?? []).some(groupArticle => groupArticle.tag === popularTag.tag)"
      :key="i"
      @click="handleSelectTag(popularTag.tag)"
    >
      {{popularTag.title}}
    </a-button>
  </div>
</div> -->