<div class="home">
  <div class="home__explanation">
    <div class="home__title">
      <span nz-typography>Vue-Nestjs-PostgreSQL Startup</span>
    </div>
    <div class="home__content">
      <span nz-typography>A place to share your knowledge.</span>
    </div>
  </div>
  <div nz-row >
    <div nz-col nzSpan="1"><app-feeds></app-feeds></div>
    <div nz-col nzSpan="16"></div>
    <div nz-col nzSpan="1"></div>
    <!-- <div nz-col nzSpan="6"><app-popular-tags [page]="1" [limit]="10"></app-popular-tags></div> -->
  </div>
</div>
